# Database
DATABASE_URL="postgresql://neondb_owner:npg_8x3pOMJtDUPh@ep-tiny-union-aqg57qxb-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
JWT_SECRET="abcd"
JWT_EXPIRES_IN="7d"

# App
PORT=3001
NODE_ENV=development

# CORS
FRONTEND_URL="http://localhost:3000"
